<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>

    <!-- Custom Stylesheet for the page -->
    <% if (typeof pageStylesheet !== 'undefined') { %>
    <link rel="stylesheet" href="/<%= pageStylesheet %>" />
    <% } %>
  </head>
  <body>
    <%- body %>

    <!-- Custom JavaScript for specific pages (auto add leading '/') -->
    <% if (typeof pageScript !== 'undefined') { %>
    <script src="<%= pageScript.startsWith('/') ? pageScript : '/' + pageScript %>"></script>
    <% } %> <% if (typeof externalScript !== 'undefined') { %>
    <script src="<%= externalScript.startsWith('/') ? externalScript : '/' + externalScript %>"></script>
    <% } %>
  </body>
</html>
